<div class="jumbotron">
    <h1 class="display-4">Hello, <%= @email %> !!</h1>
    <p class="lead">Seja Bem Vindo ao CONTROLDIET.</p>
    <hr class="my-4">
    <p>Reaprender a ouvir seu corpo é um dos caminhos para se alimentar melhor.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/diets/new" role="button">Ir para Dieta</a>
    </p>
</div>