<li class="control-group nested-fields"> 
    <div class="controls"> 
        <%= f.text_field :snack %>
        <%= f.time_select :time %>
        <br>
        <h4>Descrição</h4>
        <%= f.text_area :description %>
        
      <%= link_to_remove_association "Remover", f %> 
    </div> 
</li>