<li class="control-group nested-fields"> 
    <div class="controls"> 
        <%= f.text_field :snack %>
        <%= f.time_select :time %>
        <%= f.text_field :snack %>
      <%= link_to_remove_association "Remover", f %> 
    </div> 
</li>