<div class="page-header">
  <h1>Graphics</h1>
</div>
<% series = [
  {peso: "Peso", data: @weight_user},
] %>
​
<% options = {
  title: 'Users Growth',
  subtitle: 'Grouped Per Week',
  xtitle: 'Week',
  ytitle: 'Users',
  stacked: true
} %>
​
<%= line_chart(series, options) %>
